<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>削除情報確認</title>
</head>
<body>
	<h2>削除情報確認</h2>
	<div class="container">
    <div class="info-row">
        <label>ID：</label>
        <span th:text="${session.result.id}"></span>
    </div>
    <div class="info-row">
        <label>管理者名：</label>
        <span th:text="${session.result.name}"></span>
    </div>
    <div class="info-row">
        <label>電話番号：</label>
        <span th:text="${session.result.phoneNumber}"></span>
    </div>
	
	<div class="info-row">
	    <label>ユーザID：</label>
	    <span th:text="${session.result.userId}"></span>
	</div>
	</div>
	
	<p class="back">
		<a href="/manager/delete_result" class="btn-back">削除する</a>		
	</p>

	<p class="back">
	    <a href="top" class="btn-back">顧客管理TOPページに戻る</a>
	</p>

</body>
</html>