<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>管理者情報確認</title>
</head>
<body>

<h2>管理者情報確認</h2>

<form th:action="@{/manager/input_result}" 
      th:object="${manager}" 
      method="post">

	<div>
	    <label>管理者名：</label>
	    <span th:text="*{name}"></span>
	    <input type="hidden" th:field="*{name}" />
	</div>

	<div>
	    <label>電話番号：</label>
	    <span th:text="*{phoneNumber}"></span>
	    <input type="hidden" th:field="*{phoneNumber}" />
	</div>
	
	<div>
	    <label>ユーザID：</label>
	    <span th:text="*{userId}"></span>
	    <input type="hidden" th:field="*{userId}" />
	</div>
	
	<div>
	    <label>パスワード：</label>
	    <span th:text="*{password}"></span>
	    <input type="hidden" th:field="*{password}" />
	</div>
	
    <button type="submit">登録</button>
</form>

<p class="back">
    <a href="top" class="btn-back">管理者管理TOPページに戻る</a>
</p>

</body>
</html>
