<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/m_top.css">
<meta charset="UTF-8">
<title>管理者用TOPページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>管理者用TOPページ</h1>
	        <p>Manager Management System</p>
	    </div>
		<div class="menu-buttons">
			<a href="/product/top" class="menu-btn">商品管理画面</a>
			<a href="/customer/top" class="menu-btn">顧客管理画面</a>
			<a href="top" class="menu-btn">管理者管理画面</a>
			<a href="/sales/top" class="menu-btn">販売管理画面</a>
			<a href="/index.html" class="menu-btn">ログアウト</a>
		</div>
	</div>
</body>
</html>
