<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h2>パスワード変更</h2>

<form th:action="@{/manager/password_update_confirm}"
      th:object="${form}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <div class="form-row">
        <label>現在のパスワード</label>
        <input type="password" th:field="*{currentPassword}"  required/>
        <div class="error-message" th:errors="*{currentPassword}"></div>
    </div>

    <div class="form-row">
        <label>新しいパスワード</label>
        <input type="password" th:field="*{newPassword}"  required/>
        <div class="error-message" th:errors="*{newPassword}"></div>
    </div>

    <div class="form-row">
        <label>確認用パスワード</label>
        <input type="password" th:field="*{confirmPassword}"  required/>
        <div class="error-message" th:errors="*{confirmPassword}"></div>
    </div>

    <button type="submit">確認</button>
</form>

<p class="back">
    <a href="top" class="btn-back">管理者管理TOPページに戻る</a>
</p>

</body>
</html>
