<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>管理者情報一覧</title>
</head>
<body>
	<h2>管理者一覧</h2>
	
	<table>
		<tr>
			<th>ID</th>
			<th>管理者名</th>
			<th>電話番号</th>
			<th>ユーザID</th>
		</tr>

		<tr th:each="m : ${managerlist}">
			<td th:text="${m.id}"></td>
			<td th:text="${m.name}"></td>
			<td th:text="${m.phoneNumber}"></td>
			<td th:text="${m.userId}"></td>
		</tr>
	</table>
	
	<p class="back">
	    <a href="top" class="btn-back">管理者管理TOPページに戻る</a>
	</p>
</body>
</html>