<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>情報変更画面</title>
</head>
<body>
	<h2>変更したいレコードを選んでください</h2>
	<table>
		
		<tr>
			<th>ID</th>
			<th>管理者名</th>
			<th>電話番号</th>
			<th>ユーザID</th>
			<th>ユーザ情報変更</th>
			<th>パスワード変更</th>
		</tr>
		
		<tr th:each="m : ${manager_list}">
			<td th:text="${m.id}"></td>
			<td th:text="${m.name}"></td>
			<td th:text="${m.phoneNumber}"></td>
			<td th:text="${m.userId}"></td>
			<td>
				<form th:action="@{/manager/update_input}" method="post">
					<input type="hidden" name="id" th:value="@{${m.id}}">
					<input type="submit" value="ユーザ情報変更">
				</form>
			</td>
			
			<td>
				<form th:action="@{/manager/password_update_input}" method="post">
					<input type="hidden" name="id" th:value="@{${m.id}}">
					<input type="submit" value="パスワード変更">
				</form>
			</td>
		</tr>	
	</table>
	<p class="back">
	    <a href="top" class="btn-back">管理者管理TOPページに戻る</a>
	</p>
</body>
</html>