<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>商品情報確認</title>
</head>
<body>

<h2>商品情報確認</h2>

<form th:action="@{/product/input_result}" 
      th:object="${product}" 
      method="post">
	  
	<div class="container">
	<div class="info-row">
	    <label>名前：</label>
	    <span th:text="*{name}"></span>
	    <input type="hidden" th:field="*{name}" />
	</div>

	<div class="info-row">
	    <label>値段：</label>
	    <span th:text="*{price}"></span>
	    <input type="hidden" th:field="*{price}" />
	</div>

	<div class="info-row">
	    <label>在庫数：</label>
	    <span th:text="*{stock}"></span>
	    <input type="hidden" th:field="*{stock}" />
	</div>
<!--	<div class="info-row">-->
<!--    <button type="submit">登録</button>-->
<!--	</div>-->

	<p class="back">
	    <button type="submit" class="btn-back">登録</button>
	</p>

	</div>
</form>

<p class="back">
    <a href="top" class="btn-back">商品管理TOPページに戻る</a>
</p>

</body>
</html>
