<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/product_top.css">
<meta charset="UTF-8">
<title>商品管理ページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>商品管理TOPページ</h1>
	        <p>Product Management System</p>
	    </div>
		
		<div class="menu-buttons">
			<a href="show" class="menu-btn">商品一覧</a>
			<a href="input" class="menu-btn">商品情報登録</a>
			<a href="update" class="menu-btn">商品情報更新</a>
			<a href="delete" class="menu-btn">商品情報削除</a>
			<a href="/manager/top" class="menu-btn">管理者用TOPページに戻る</a>
		</div>

	</div>
</body>
</html>