<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>販売情報確認</title>
</head>
<body>

<h2>販売情報確認</h2>

<form th:action="@{/sales/input_result}"
      th:object="${salesDto}"
      method="post">
	
	<div class="container">
	<div class="info-row">
    <label>商品：</label>
	<span th:text="${productName}"></span>
	</div>
    
	<div class="info-row">
	<label>お客様名:</label>
	<span th:text="${customerName}"></span>
	</div>
    
	<div class="info-row">
	<label>担当者名：</label>
	<span th:text="${managerName}"></span>
	</div>
    
	<div class="info-row">
	<label>数量：</label>
	<span th:text="*{quantity}"></span>
	</div>
    
	<div class="info-row">
	<label>合計金額：</label>
	<span th:text="${sumPrice} + ' 円'"></span>
	</div>
    
	<div class="info-row">
	<label>販売日：</label>
	<span th:text="*{salesDate}"></span>
	</div>

    <!-- 入力値保持用（最低限） -->
    <input type="hidden" th:field="*{productId}">
<!--    <input type="hidden" th:field="*{customerId}">-->
    <input type="hidden" th:field="*{managerId}">
    <input type="hidden" th:field="*{quantity}">
    <input type="hidden" th:field="*{salesDate}">
	
	<div class="info-row">
    <button type="submit">登録</button>
	</div>
	</div>
</form>

<p class="back">
    <a href="top" class="btn-back">販売管理TOPページに戻る</a>
</p>

</body>
</html>
