<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/order.css">
<meta charset="UTF-8">
<title>注文TOPページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>注文TOPページ</h1>
	        <p>Order TOP page</p>
	    </div>
		
		<div class="menu-buttons">
			<a href="show" class="menu-btn">注文情報一覧</a>
			<a href="input" class="menu-btn">注文</a>
			<a href="update" class="menu-btn">注文情報更新</a>
			<a href="delete" class="menu-btn">注文情報削除</a>
			<a href="/customer/customer_top" class="menu-btn">お客様用TOPページへ</a>
		</div>

	</div>
</body>
</html>