<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>注文情報更新一覧</title>
</head>
<body>
	<h2>注文情報更新一覧</h2>
	
	<table>
		<tr>
			<th>ID</th>
			<th>商品名</th>
			<th>数量</th>
			<th>合計金額</th>
			<th>お客様名</th>
			<th>管理者名</th>
			<th>販売日</th>
			<th>更新</th>
		</tr>

		<tr th:each="o : ${orders}">
		    <td th:text="${o.id}"></td>
		    <td th:text="${o.productName}"></td>
		    <td th:text="${o.quantity}"></td>
		    <td th:text="${o.sumPrice}"></td>
		    <td th:text="${o.customerName}"></td>
		    <td th:text="${o.managerName}"></td>
		    <td th:text="${o.salesDate}"></td>
			<td>
				<form th:action="@{/order/update_input}" method="get">
				    <input type="hidden" name="id" th:value="${o.id}">
				    <input type="submit" value="更新">
				</form>
			</td>
		</tr>

	</table>
	
	<p class="back">
	    <a href="top" class="btn-back">注文TOPページに戻る</a>
	</p>
</body>
</html>