<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>お客様情報変更画面</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>お客様情報変更</h2>

<form th:action="@{/customer/mypage/update_confirm}"
      th:object="${customer}"
      method="post">
	  <input type="hidden" th:field="*{id}" />
	  
	<div class="form-row">
	<label>お客様名：</label>
	    <input type="text"
	           th:field="*{name}"
	           maxlength="100"
	           required />
	    <div class="error-message" th:if="${#fields.hasErrors('name')}"
	         th:errors="*{name}"></div>
	</div>

	<div class="form-row">
	<label>住所：</label>
	    <input type="text"
	           th:field="*{address}"
	           maxlength="255"
	           required />
	    <div class="error-message" th:if="${#fields.hasErrors('address')}"
	         th:errors="*{address}"></div>
	</div>

	<div class="form-row">
	<label>電話番号：</label>
	    <input type="text"
	           th:field="*{phone_number}"
	           maxlength="20"
	           required />
	    <div class="error-message" th:if="${#fields.hasErrors('phone_number')}"
	         th:errors="*{phone_number}"></div>
	</div>

	<div class="form-row">
	<label>ユーザID：</label>
	    <input type="text"
	           th:field="*{userId}"
	           maxlength="50"
	           required />
	    <div class="error-message"th:if="${#fields.hasErrors('userId')}"
	         th:errors="*{userId}"></div>
	</div>

<!--	<div class="form-row">-->
<!--	<label>パスワード：</label>-->
<!--	    <input type="text"-->
<!--	           th:field="*{password}"-->
<!--	           maxlength="255"-->
<!--	           required />-->
<!--	    <div class="error-message" th:if="${#fields.hasErrors('password')}"-->
<!--	         th:errors="*{password}"></div>-->
<!--	</div>-->

    <button type="submit">確認</button>
	<p class="back">
	    <a href="top" class="btn-back">マイページに戻る</a>
	</p>
</form>

</body>
</html>
