<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>顧客情報入力</title>
</head>
<body>

<h2>顧客情報入力</h2>

<form th:action="@{/customer_input_confirm}"
      th:object="${customer}"
      method="post">

	  <div class="form-row">
		<label>お客様名：</label>
	      <input type="text"
	             th:field="*{name}"
	             maxlength="100"
	             required />
	      <div class="error-message" th:if="${#fields.hasErrors('name')}"
	           th:errors="*{name}"></div>
	  </div>
	  
	  <div class="form-row">
		<label>住所：</label>
	      <input type="text"
	             th:field="*{address}"
	             maxlength="255"
	             required />
	      <div class="error-message" th:if="${#fields.hasErrors('address')}"
	           th:errors="*{address}"></div>
	  </div>
	  
	  <div class="form-row">
		<label>電話番号：</label>
	      <input type="text"
	             th:field="*{phone_number}"
	             maxlength="20"
	             required />
	      <div class="error-message" th:if="${#fields.hasErrors('phone_number')}"
	           th:errors="*{phone_number}"></div>
	  </div>
	  
	  <div class="form-row">
		<label>ユーザID：</label>
	      <input type="text"
	             th:field="*{userId}"
	             maxlength="50"
	             required />
	      <div class="error-message"th:if="${#fields.hasErrors('userId')}"
	           th:errors="*{userId}"></div>
	  </div>
	  
	  <div class="form-row">
		<label>パスワード：</label>
	      <input type="text"
	             th:field="*{password}"
	             maxlength="255"
	             required />
	      <div class="error-message" th:if="${#fields.hasErrors('password')}"
	           th:errors="*{password}"></div>
	  </div>

    <button type="submit">確認</button>
	<p class="back">
	    <a href="/" class="btn-back">総合TOPページに戻る</a>
	</p>
</form>

</body>
</html>
