<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/c_top.css">
<meta charset="UTF-8">
<title>お客様用TOPページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>お客様用TOPページ</h1>
	        <p>Customer TOP page</p>
			<div>
			    <label>お客様名：</label>
			    <span th:text="*{customer.name}"></span>
			    <input type="hidden" th:field="*{customer.name}" />
			</div>
	    </div>
		
		
		<div class="menu-buttons">
			<a href="/customer/mypage/top" class="menu-btn">マイページへ</a>
			<a href="/order/top" class="menu-btn">注文画面へ</a>
			<form th:action="@{/customer/logout}" method="get">
			    <button type="submit" class="menu-btn">ログアウト</button>
			</form>
		</div>

	</div>
</body>
</html>