<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>削除情報確認</title>
</head>
<body>
	<h2>削除情報確認</h2>
    <div>
        <label>ID：</label>
        <span th:text="${session.result.id}"></span>
    </div>
    <div>
        <label>商品名：</label>
        <span th:text="${session.result.name}"></span>
    </div>
    <div>
        <label>値段：</label>
        <span th:text="${session.result.price}"></span> 円
    </div>
    <div>
        <label>在庫数：</label>
        <span th:text="${session.result.stock}"></span>
    </div>

	<p class="back">
		<a href="/product/delete_result" class="btn-back">削除する</a>
			
		</p>

	<p class="back">
	    <a href="top" class="btn-back">商品管理TOPページに戻る</a>
	</p>

</body>
</html>