<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/mypage.css">
<meta charset="UTF-8">
<title>マイページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>マイページ</h1>
	        <p>My page</p>
	    </div>
		
		<div class="menu-buttons">
			<a href="mypage_show" class="menu-btn">お客様情報</a>
			<a href="mypage_update_insert" class="menu-btn">お客様情報更新</a>
			<a href="mypage_delete_confirm" class="menu-btn">退会</a>
			<a href="customer_top" class="menu-btn">お客様用TOPページへ</a>
		</div>

	</div>
</body>
</html>