<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>商品情報一覧</title>
</head>
<body>
	<h2>商品一覧</h2>
	
	<table>
		<tr>
			<th>ID</th>
			<th>商品名</th>
			<th>値段</th>
			<th>在庫数</th>
		</tr>

		<tr th:each="p : ${productlist}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.name}"></td>
			<td th:text="${p.price}"></td>
			<td th:text="${p.stock}"></td>
		</tr>
	</table>
	
	<p class="back">
	    <a href="top" class="btn-back">商品管理TOPページに戻る</a>
	</p>
</body>
</html>