<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/customer_top.css">
<meta charset="UTF-8">
<title>顧客管理ページ</title>
</head>
<body>
	<div class="hero">
	    <div class="hero-text">
	        <h1>顧客管理TOPページ</h1>
	        <p>Customer Management System</p>
	    </div>
		
		<div class="menu-buttons">
			<a href="show" class="menu-btn">顧客一覧</a>
			<a href="input" class="menu-btn">顧客情報登録</a>
			<a href="update" class="menu-btn">顧客情報更新</a>
			<a href="delete" class="menu-btn">顧客情報削除</a>
			<a href="/manager/manager_top" class="menu-btn">管理者用TOPページに戻る</a>
		</div>

	</div>
</body>
</html>