<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>情報変更画面</title>
</head>
<body>
	<h2>変更したいレコードを選んでください</h2>
	<table>
		<tr>
			<th>ID</th> <th>商品名</th> <th>値段</th> <th>在庫数</th> <th>変更</th>
		</tr>

		<tr th:each="p:${product_list}">
			<td th:text=${p.id}></td>
			<td th:text=${p.name}></td>
			<td th:text=${p.price}></td>
			<td th:text=${p.stock}></td>
			<td>
				<form th:action="@{/product/update_input}" method="post">
					<input type="hidden" name="id" th:value="@{${p.id}}">
					<input type="submit" value="変更">
				</form>
			</td>
		</tr>	
	</table>
	<p class="back">
	    <a href="top" class="btn-back">商品管理TOPページに戻る</a>
	</p>
</body>
</html>