<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>変更情報確認画面</title>
</head>
<body>
	<h2>顧客情報確認</h2>
	
	<form th:action="@{/customer/update_result}" 
	      th:object="${customer}" 
	      method="post">
		  <input type="hidden" th:field="*{id}">
		<div class="container">
		<div class="info-row">
		    <label>お客様名：</label>
		    <span th:text="*{name}"></span>
		    <input type="hidden" th:field="*{name}" />
		</div>

		<div class="info-row">
		    <label>住所：</label>
		    <span th:text="*{address}"></span>
		    <input type="hidden" th:field="*{address}" />
		</div>

		<div class="info-row">
		    <label>電話番号：</label>
		    <span th:text="*{phone_number}"></span>
		    <input type="hidden" th:field="*{phone_number}" />
		</div>
		
		<div class="info-row">
		    <label>ユーザID：</label>
		    <span th:text="*{userId}"></span>
		    <input type="hidden" th:field="*{userId}" />
		</div>
		
<!--		<div class="info-row">-->
<!--		    <label>パスワード：</label>-->
<!--		    <span th:text="*{password}"></span>-->
<!--		    <input type="hidden" th:field="*{password}" />-->
<!--		</div>-->
		<p class="back">
		    <button type="submit" class="btn-back">変更</button>
		</p>
		</div>
	</form>

	<p class="back">
	    <a href="top" class="btn-back">顧客管理TOPページに戻る</a>
	</p>
</body>
</html>